.carousel-section {
  padding: 10px;
  background: rgb(249, 6, 6);
}

.carousel-section h2 {
  font-size: 24px;
  margin-bottom: 15px;
  padding-left: 0.9cm;
  color: white;
}

.carousel {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel-card {
  min-width: 150px;
  text-align: center;
  background: #fff;
  border-radius: 15px;
  padding: 20px;
  margin: 0.5cm;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.carousel-card img {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.carousel-card p {
  margin-top: 10px;
  font-weight: 600;
}