.hero {
  height: 90vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.hero img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero-slider{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: 0.5s;
}

.slides{
  display: flex;
  width: 300%;
  height: 100%;
  background-color: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
}

.slides img{
  display: flex;
  width: 35%;
}

.thoughts h1{
  text-align: center;
  font-size: 50px;
  color: white;
}

.thoughts{
  padding-top: 5cm;
  color:white;
  text-align: center;
  background-size: cover;
}

.hero-search input {
  width: 300px;
  height: 0.5cm;
  padding: 14px;
  border:none;
  border-radius: 15px;
}

.hero-search button {
  background: rgb(220, 8, 8);
  color: white;
  border: none;
  border-radius: 40px;
  padding: 14px 26px;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.scroll-arrow {
  position: absolute;
  bottom: 30px;
  left: 50%;

  transform: translateX(-50%);
  font-size: 32px;

  color: white;
  cursor: pointer;

  animation: bounce 1.5s infinite;
}


@media (max-width: 480px) {
  .hero-search {
    flex-direction: column;
    padding: 10px;
    border-radius: 18px;
  }

  .hero-search input {
    width: 100%;
    margin-top: 10px;
    border-radius: 14px;
  }
}

