.hero {
  height: 90vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  /*
  background:
   url("../assets/back.avif"),
   url("../assets/back1.webp"),
   url("../assets/back2.webp");
  */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

.thoughts h1{
  text-align: center;
  font-size: 50px;
  color: white;
}

.hero-slider{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: 0.5s;
}

.slides{
  display: flex;
  width: 300%;
  height: 100%;
}

.slides img{
  width: 100%;
  height: 100vh;
  object-fit: cover;
}


@keyframes slide{

  0%{
    transform: translateX(0);
  }

  33%{
    transform: translateX(-100%);
  }

  66%{
    transform: translateX(-200%);
  }

  100%{
    transform: translateX(0);
  }

}
/*
@keyframes slider {
  0% {
    background-image: url("../assets/back.avif");
  }
  33% {
    background-image: url("../assets/back1.webp");
  }
  66% {
    background-image: url("../assets/back2.webp");
  }
  100% {
    background-image: url("../assets/back.avif");
  }
  
}
  */

.thoughts{
  padding-top: 5cm;
  color:white;
  text-align: center;
}

.hero h1 {
  font-size: 42px;
  margin-bottom: 10px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 25px;
}


/*
.back-img{
  height: 20cm;
  padding-top: 1cm;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(10, 10, 10);
}
  */
/*
.search-box {
  display: flex;
  align-items: center;
  background: white;
  padding: 10px;
  border-radius: 50px;
  width: 100%;
  max-width: 520px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.18);
}
*/

.hero-search input {
  width: 300px;
  height: 0.5cm;
  padding: 14px;
  border:none;
  border-radius: 15px;
}

.hero-search button {
  background: rgb(220, 8, 8);
  color: white;
  border: none;
  border-radius: 40px;
  padding: 14px 26px;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.scroll-arrow {
  position: absolute;
  bottom: 30px;
  left: 50%;

  transform: translateX(-50%);
  font-size: 32px;

  color: white;
  cursor: pointer;

  animation: bounce 1.5s infinite;
}

/* Animation */
@keyframes bounce {
  0%,100% {
    transform: translate(-50%,0);
  }

  50% {
    transform: translate(-50%,10px);
  }
}




@media (max-width: 768px) {
  .hero {
    padding: 50px 20px;
  }

  .hero h1 {
    font-size: 28px;
  }

  .hero p {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .hero-search {
    flex-direction: column;
    padding: 10px;
    border-radius: 18px;
  }

  .hero-search input {
    width: 100%;
    margin-top: 10px;
    border-radius: 14px;
  }
}

