.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  padding: 10px 20px;
  background-color: #ff5a00;
  border-bottom: 3px solid white;
  border-radius: 10px;
}

.logo-img {
  width: 40px;
  height: 40px;
}

.logo {
  color: white;
  font-size: 26px;
  font-weight: bold;
  margin-right: 20px;
}

.input {
  padding: 10px 14px;
  border-radius: 6px;
  border: none;
  outline: none;
  width: 220px;
}

.btns {
  display: flex;
  gap: 20px;
}

.btn {
  padding: 10px 18px;
  background-color: rgb(243, 43, 43);
  color: white;
  border: 0.5px solid rgb(246, 242, 242);
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}
.btn:hover {
  transition: 0.3s ease;
  background-color: black;
}

/*.btn {
  background-color: rgb(234, 9, 9);
  color: white;
  padding: 10px 18px;
  border-radius: 6px;
  font-weight: bold;
  margin-left: 10cm;
}
.btn1{
  background-color: rgb(234, 9, 9);
  color: white;
  padding: 10px 18px;
  border-radius: 6px;
  font-weight: bold;
  margin-left: 4cm;
}

.btn:hover {
  background-color: black;
  opacity: 0.85;
}
  */

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    gap: 10px;
    padding: 15px;
  }

  .input {
    width: 100%;
  }

  .btn {
    width: 100%;
  }
}
