.products {
  padding: 40px 50px;
  background: #c25353;
}

.products h2{
  text-align: center;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 25px;
}
 
.product-card {
  margin-left: 30px;
  background: white;
  height: 300px;
  width: 300px;
  padding: 40px;
  border-radius: 14px;
  box-shadow: 0 6px 14px rgba(0,0,0,0.1);
}

.product-card:hover {
  transform: translateY(-8px);
  transition: transform 0.3s;
}

.product-card:hover{
  transform: scale(1.05);
  transition: transform 0.3s;
  box-shadow: 0 4px 10px rgba(1, 247, 75, 0.3);
}

.product-card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 10px;
}


.product-card h3 {
  text-align: center;
  margin: 10px 0 5px;
  color: #333;
}

.price {
  font-weight: bold;
}

.rating {
  font-size: 14px;
  margin-bottom: 10px;
}

.product-card button {
  background: #ff5200;
  color: white;
  padding: 8px;
  width: 100%;
  border-radius: 6px;
  font-weight: bold;
}