body {
  background: var(--bg);
  color: var(--text);
  margin: 0;
  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  background-color: #f8f8f8;
}


button {
  border: none;
  cursor: pointer;
}

h1, h2, p {
  margin: 0;
}

:root {
  --bg: #ffffff;
  --text: #2d2d2d;
  --card: #ffffff;
  --primary: #ff6a00;
}

[data-theme="dark"] {
  --bg: #121212;
  --text: #f5f5f5;
  --card: #1e1e1e;
  --primary: #ff8c42;
}

body {
  background: var(--bg);
  color: var(--text);
}